@import '~bootstrap/scss/bootstrap';

table thead th {
    margin-top: 90px;
    padding: 3px;
    position: sticky;
    top: 50px;
    z-index: 1;
    background-color: rgb(57, 162, 57) !important;
}

.controllers {
    width: 100%;
    position: fixed;
    background-color: white;
    padding: 5px 0 10px 0;

    .message {
        padding: .4rem 3rem;
    }
}